extends base

block content
	if errMsg
		ul
			each err in errMsg
				li=err
	form(method="POST")
		input(type="text", required, placeholder="Username", name="username")
		input(type="password", required, placeholder="Password", name="password")
		input(type="submit", value="Login")
	hr
	div
		span Don't have an account? 
		a(href="/join") Create one Now &rarr;